<div class="container-fluid">
  <div class="d-flex justify-content-between align-content-center align-items-center">
    <div>
      <div class="d-flex flex-column layout">
        <div class="d-flex flex-column justify-content-center align-content-center"
        >
          <h1>
            <pre class="title">
              <span class="hero-title">Find your <span style="color:#9ADDFE">Dentist</span> and book an appointment in a few clicks</span>
            </pre>
          </h1>
          <h5 class="desc layout">
            PlanetDentist is a platform that allows you to have an appointment with one of
            <br />
            our specialists in a faster way.
          </h5>
        </div>
        <div class="button layout">
          <div class="button-layout layout">
              <img src="assets/images/landing-page/eardoc.svg" class="eardoc" />
              <h4 class="text-white layout">Register</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="image-container">
          <img
            src="assets/images/landing-page/doc.png"
            alt=""
            class="img layout"
          />
    </div>
  </div>
</div>
