<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/prescriptions" routerLinkActive="active">{{ 'PRESCRIPTIONS.PRESCRIPTIONS' | translate }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ 'PRESCRIPTIONS.PRESCRIPTION_EDIT' | translate }}</li>
    </ol>
</nav>

<div class="row">
<div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="submitted">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"></svg>
  <div id="successMessage"> {{ success.message | translate }} <a routerLink="../details/{{ success.patientId }}" routerLinkActive="active">{{ success.patientName }}</a></div>
</div>

<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h6 class="card-title">{{ 'PRESCRIPTIONS.PRESCRIPTION_EDIT' | translate }}</h6>
      <form>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="" class="form-label">{{ 'PRESCRIPTIONS.PATIENT' | translate }}</label>
            <select
                    class="form-control"
                    id=""
                    name=""
                    required>
                    <option value="" disabled selected>-- {{ 'PRESCRIPTIONS.MEDICATION_CHOOSE' | translate  }} --</option>
                    <option *ngFor="let patient of patients" [value]="patient.id">
                      {{ patient.lastName }} {{ patient.firstName }}
                    </option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="" class="form-label">{{ 'PRESCRIPTIONS.MEDICATION' | translate }}</label>
              <select
              class="form-control"
              id=""
              name=""
              required>
              <option value="" disabled selected>-- {{ 'PRESCRIPTIONS.MEDICATION_CHOOSE' | translate  }} --</option>
              <option *ngFor="let medication of medications" [value]="medication.id">
                {{ medication.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="" class="form-label">{{ 'PRESCRIPTIONS.MAX_DRUG_UNITS' | translate }}</label>
            <input type="number"
                    min="1"
                    class="form-control"
                    id=""
                    name=""
                    placeholder="{{ 'PRESCRIPTIONS.MAX_DRUG_UNITS' | translate }}"
                    required>
          </div>

          <div class="col-md-6 mb-3">
            <label for="" class="form-label">{{ 'PRESCRIPTIONS.MIN_DRUG_UNITS' | translate }}</label>
            <input type="number"
                    min="1"
                    class="form-control"
                    id=""
                    name=""
                    placeholder="{{ 'PRESCRIPTIONS.MIN_DRUG_UNITS' | translate }}"
                    required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="" class="form-label">{{ 'PRESCRIPTIONS.TIME_RESCTRICTION' | translate }}</label>
            <input type="text"
                    class="form-control"
                    id=""
                    name=""
                    placeholder="{{ 'PRESCRIPTIONS.TIME_RESCTRICTION' | translate }}"
                    required>
          </div>

          <div class="col-md-6 mb-3">
            <label for="" class="form-label">{{ 'PRESCRIPTIONS.FOOD_RESCTRICTION' | translate }}</label>
            <input type="text"
                    class="form-control"
                    id=""
                    name=""
                    placeholder="{{ 'PRESCRIPTIONS.FOOD_RESCTRICTION' | translate }}"
                    required>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary">{{ 'PRESCRIPTIONS.PRESCRIPTION_EDIT' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

